{% extends 'base.html.twig' %}

{% block title %} {{ post }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-9 mb-2">
            <h2 class="h2">
                {{ post.title }}
            </h2>
            <div class="content">
                {{ post.summary|raw }}
            </div>
            <div class="content">
                {{ post.content|raw }}
            </div>
            <div class="text-right mt-4">
                <a href="{{ path('blog') }}" class="stretched-link">
                    >> Retour >>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div>
                <small class="text-muted">
                    <i class="fas fa-clock"></i> Créé le {{ post.createdAt|format_datetime('short') }}.
                </small>
            </div>
            <div>
                <small class="text-muted">
                    <i class="fas fa-clock"></i> Modifié le {{ post.updatedAt|format_datetime('short') }}.
                </small>
            </div>
            <div class="tags">
                {% for tag in post.tags %}
                    <span class="badge badge-info">{{ tag.label }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
{% endblock %}
