{% extends 'base.html.twig' %}

{% block title %}Document Root{% endblock %}

{% block body %}
    <div class="container">
        <h1>Tableau de bord</h1>
        <h2>
            Eurosport
        </h2>
        <div class="row">

            {% for eurosport_new in eurosport_news %}
                <div class="col-12">
                    <div class="card border shadow lift mb-3">
                        <div class="card-body">
                            <div class="card-title h6">
                                {{ eurosport_new.title }}
                            </div>
                            <style>
                                .card-text img{width: 100% ;}
                            </style>
                            <div class="card-text">
                                {{ eurosport_new.description|raw }}
                            </div>
                            <div class="card-text">
                                <a target="_blank" href="{{ eurosport_new.link }}">{{ eurosport_new.title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <h2>
                    api news
                </h2>
                <div class="">
                    {% for last_new in last_news %}
                        <div class="">
                            <div class="card border shadow lift mb-3">
                                <div class="card-header">
                                    <div class="card-title h4 font-weight-light text-dark">
                                        <a class="card-link text-dark" href="{{ last_new.url }}">
                                            {{ last_new.title }}
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <img class="img-fluid" src="{{ last_new.urlToImage }}" title="{{ last_new.title }}" alt="{{ last_new.title }}" />
                                        {{ last_new.content }}
                                    </p>
                                    <small>{{ last_new.source.name }} - {{ last_new.author }} - {{ last_new.publishedAt }}</small>
                                    <div class="d-flex justify-content-end">
                                        <a href="{{ last_new.url }}" target="_blank" class="btn btn-info px-1">
                                            Consulter en ligne sur {{ last_new.source.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <div class="card border mb-3">
                    Categories :

                </div>
            </div>
        </div>
    </div>

{% endblock %}
